<div class="customersWrapper" ng-init="init()">

    <div class="daysButtons">
        <button type="button" class="btn btn-default" style="float: right;"
                ng-click="changeDay('last')">יום קודם
        </button>

        <button type="button" class="btn btn-default" style="float: left;"
                ng-click="changeDay('next')">יום הבא
        </button>
        <a href="" class="date" ng-click="changeDay('today')">{{date}}</a>
    </div>

    <div class="customersWrap">
        <table class="table table-striped  animated fadeInDown">
            <thead>
            <tr>
                <th>לקוח</th>
                <th>שעה</th>
                <th>תספורת</th>
                <th>הערות</th>
                <th>ביטול</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers | orderBy:'hour'" class="customers">
                <td>{{customer.name}}</td>
                <td>{{customer.minutes}} : {{customer.hour}}</td>
                <td>{{customer.haircut}}</td>
                <td>{{customer.notes}}</td>
                <td><i class="fa fa-times" aria-hidden="true" ng-click="cancelOrder(customer.ID)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>