<div class="customersWrapper" ng-init="customers()">

    <div class="daysButtona">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:42%;" ng-click="changeDay('today')">קפוץ להיום</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;" ng-click="changeDay('last')">יום קודם</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;" ng-click="changeDay('next')">יום הבא</button></div>

    <div class="customersWrap">
        <table class="table table-striped  animated fadeInDown">
            <thead>
            <tr>
                <th>תאריך</th>
                <th>שם הלקוח</th>
                <th>שעה</th>
                <th>תספורת</th>
                <th>הערות</th>
                <th>ביטול</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers | orderBy:'full_date'" class="customers">
                <td>{{customer.day}} , {{customer.month}} , {{customer.year}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.minutes}} : {{customer.hour}}</td>
                <td>{{customer.haircut}}</td>
                <td>{{customer.notes}}</td>
                <td><i class="fa fa-times" aria-hidden="true" ng-click="cancelOrder(customer.ID)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>